@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* mengatur background */
.banner-card {
    position: relative;
}

.banner-card .background img{
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 0;
    width: 100%;
    position: fixed;
}

/* mengatur list */
.responsif {
    display: flex;
    justify-content: space-between;
    height: 7vw;
    background-color: #f0acdc;
}

.responsif .menu-icon { 
    display: none;
}


/* mengatur navigation */
.logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    padding-left: 4.4%;
    color: white;
}

.navigation ul {
    display: flex;
    padding-left: 4.4%;
    list-style: none;
    gap: 2.3vw;
}

.navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;

    font-weight: 600;
    transition: .2s;
}

.navigation ul li a:hover {
    background-color: antiquewhite;
}

@media screen and (max-width: 1080px) {
    .logo {
        font-size: 2.2vw;
        padding-left: 5%;
    }
    .navigation ul {
        /* display: none; */
        flex-direction: column;
        width: 55%;
        background-color: #f0acdc;
        align-items: center;
        padding: 0;
    }
    .navigation ul.hidden {
        display: none;
    }
    .responsif {
        height: 9vw;
    }
    .responsif .menu-icon {
        font-size: 2.7vw;
        display: flex;
        align-items: center;
        padding-right: 4.4%;
        color: white;
    }
    
}

@media screen and (max-width: 768px) {
    .navigation ul {
        width: 100%;
    }
}

@media screen and (max-width: 578px) {
    /* mengatur header */
    .responsif .logo {
        font-size: 0.8em;
    }
    .responsif .menu-icon {
        font-size: 1.2em;
    }
    
    /* mengatur ul */
    .navigation ul li a {
        font-size: 1em;
    }

}

/* isi website */

main {
    padding: 0 5rem;
    font-size: 20px;
    background-color: #FFE4E1;
    margin-top: -10px;  
}
  
h2 {
    color:	#9370DB;
    padding: 2rem 0;
}

h3 {
    color: #8B008B;
}

h4, h5 {
    font-weight: bold;
    color: #8B008B;
}

p, ol {
    color:#8B008B;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    main {
        padding: 0 2rem;
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {
    main {
        padding: 0 1rem;
        font-size: 15px;
    }
}

/* gambar bab 2 - Rencana Kegiatan */

img.nama-toko-harsaloka {
    width:350px;
}

img.promosi-coming-soon {
    width: 350px;
}

img.iklan-harsaloka {
    width: 350px;
}

img.poster-harsaloka {
    width: 350px;
}

img.slogan-harsaloka {
    width: 350px;
}

img.il-bindo {
    width: 350px;   
}

img.produk-harsaloka {
    width: 350px;
}

@media screen and (max-width: 768px) {
    img.nama-toko-harsaloka {
        width: 200px;
    }

    img.promosi-coming-soon {
        width: 200px;
    }
    
    img.iklan-harsaloka {
        width: 200px;
    }
    
    img.poster-harsaloka {
        width: 200px;
    }
    
    img.slogan-harsaloka {
        width: 200px;
    }
    
    img.il-bindo {
        width: 200px;   
    }
    
    img.produk-harsaloka {
        width: 200px;
    }
}

/* gambar bab 3 - Hasil Kegiatan */

img.pengeluaran, img.daftar-barang, img.pembagian-keuntungan {
    width: 750px;
}

@media screen and (max-width: 926px) {
    img.pengeluaran, img.daftar-barang, img.pembagian-keuntungan {
        width: 500px;
    }
}

@media screen and (max-width: 768px) {
    img.pengeluaran, img.daftar-barang, img.pembagian-keuntungan, img.keuntungan-kerugian {
        width: 100%;
    }
}

/* iframe bab 3 - Hasil Kegiatan */
iframe {
    width: 850px;
    height: 500px;
}

@media screen and (max-width: 1070px) {
    iframe {
        width: 100%;
        height: 250px;
    }
}

/* gambar lampiran */
section.lampiran img {
    width: 900px;
}

@media screen and (max-width: 1070px) {
    section.lampiran img {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
